<section>
  <%= render("add_new_account.html") %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Tweeted At</th>
        <th>Media only?</th>
        <th>Mirroring</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= for account <- @accounts do %>
        <%= render("account.row.html", account: account) %>
      <% end %>
    </tbody>
  </table>
</section>
